*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: azure;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000;
}

#title{
font-size: 3ren;
}

#description{
    margin: 20px auto;
    font-size: 1.2rem;
}

form{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    padding: 20px;
    color: rosybrown;
    background-color: rgba(255, 255, 255, 0.7);
}